[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocs-monorepo-plugin = "*"
mkdocs-minify-plugin = "*"
mkdocs-redirects = "*"
# git-revision-date = "*"
# mkdocs-literate-nav = "*"
mkdocs-same-dir = "*"
mkdocs-awesome-pages-plugin = "*"
pymdown-extensions = "*"

[packages]

[requires]
python_version = "3.9"
